<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog World</h1>
        </a>
        <p>HELLO & WELCOME TO MY FIRST BLOG POST</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blog</a></li>
    </ul>
</nav>