<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>


            <div class="about content">
                <h2>What Is a welcome blog post? </h2>

                <p>A welcome blog post introduces your blog to the world. It shouldn’t consist only of a brief announcement, though, because you’re setting the stage for future content. You must let people know that you’re an authority in your industry and
                    that you’re capable of producing meaty, engaging content. Think of your welcome or introductory blog post as your audition. You only get one chance to get it right, and your audience will decide based on its content whether they want
                    to return to your blog. Don’t let your anxiety take over, though, because we’re going to share a formula that works. As for any audition, you must prepare. Know your target audience, buyer personas, product details, and unique selling
                    proposition. All of these concepts will play a part in the structure and content of your welcome blog post. Additionally, make sure you know your voice and tone backward and forward. You might want to create a style guide that details
                    information like fonts, colors, word choice, punctuation, structure, and more. That way, each blog post remains consistent with the ones that came before it. Most importantly, your welcome blog post gives you a chance to express your
                    creativity. If you do it right, you’ll earn readers for life.</p>

            </div>

    </body>

</html>